
body {
    background-color:rgb(197, 197, 197);
    font-family: 'Source Sans Pro', sans-serif;;
}

a {
  font-size: large;
  text-decoration: none;
  color: #cb5a28;
}

h1, h2, h3  {
  margin: 0;
  padding: 10px;
}

#container {
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right:auto;
}

#header {
    font-family: 'PT Sans Caption', sans-serif;
    background-color: #18453B;
    color: #0db14b;
    text-align: center;
    padding: 10px;
}

#content {
  padding: 10px;
}

#nav {
  width: 150px;
  float: left;
  padding: 20px;
}

#nav ul {
  list-style-type: none;
  padding: 0;
}

#nav ul li {
  padding: 7px;
}

#nav .selected {
  font-weight: bold;

  text-decoration: underline;
}

#main {
  width: 750px;
  float: right;

}

#student-group {
  clear: both;
  margin: 20px;
  border: 20px;
  padding: 10px;
  background-color:  #d3d3d3;
  color: black;
  text-align: left;
}

#footer {
  clear: both;
  padding: 10px;
  background-color: #18453b;
  color: #0db14b;
  text-align: right;
}
.schedule-date {
  font-weight: bold;
  color: black;
  text-align: right;
}
.schedule-resources {
  font-weight: lighter;
  color: black;
  text-align: left;
}

.himagel {
  width: 56px;
  height: auto;
  float: left;
}

.himager {
  width: 56px;
  height: auto;
  float: right;
}

.john {
  width: 350px;
  height: auto;
  padding: 10px;
  float: right;
}

table {
  width: 50%;
  padding: 2em;
}

table, th, td{
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
}
